<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <mvc:annotation-driven /> -->

	<!-- 开启controller注解支持 -->
	<context:component-scan base-package="com.taotao.controller">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
	</context:component-scan>


	<!-- 视图配置 开始 -->
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="viewResolvers">
			<list>
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="viewClass"
						value="org.springframework.web.servlet.view.JstlView" />
					<property name="order" value="0" />
					<property name="contentType" value="text/html;charset=UTF-8" />
					<property name="prefix" value="/WEB-INF/page/" />
					<property name="suffix" value=".jsp" />
				</bean>
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="order" value="0" />
					<property name="contentType" value="text/html;charset=UTF-8" />
					<property name="prefix" value="/WEB-INF/page/" />
					<property name="suffix" value=".html" />
				</bean>
			</list>
		</property>
	</bean>
	<!-- 视图配置 结束 -->

	<!-- 因为使用了REST风格,他要把jpg等静态文件拦截,配置它不被拦截 开始 -->
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**" />
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**" />
	<!-- 因为使用了REST风格,他要把jpg等静态文件拦截,配置它不被拦截 结束 -->


	<!-- 定义文件上传解析器 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设定默认编码 -->
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 设定文件上传的最大值5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="5242880"></property>
	</bean>



	<!-- 不使用mvc:annotation-driven，手动注入以下俩bean 开始 -->
	<!-- 这个bean负责加入拦截 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<!-- <property name="interceptors"> -->
		<!-- <list> -->
		<!-- <ref bean="permissionsInterceptor" /> -->
		<!-- </list> -->
		<!-- </property> -->
	</bean>

	<!-- 这个bean负责加处理 -->
	<bean id="handlerAdapter"
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<!-- json -->
				<bean
					class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<!-- 不使用mvc:annotation-driven，手动注入以下俩bean 结束 -->

</beans>