<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-2.5.xsd  
	http://www.springframework.org/schema/tx  http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<!-- - - - - - 扫描业务层包，支持织入DAO -  - - -  - -->
	<context:component-scan base-package="*,*.*" />
	<context:annotation-config></context:annotation-config>
	
	<!-- - - - - - - - Apache 连接池 - - - - - - - -->
	<bean id="datasource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/studentmanager?useUnicode=true&amp;characterEncoding=UTF-8" />
	</bean>
	
	<!-- - - - - - - - sessionFactory - - - - - - - -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="datasource" />
		<!-- 扫描package，自动生成别名 "entity"的"e"小写-->
		<property name="typeAliasesPackage" value="com.entity"></property>
	</bean>
	
	<!-- - - - - - - spring 声明式事务 - - - - - - - -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="datasource" />
	</bean>
	<!-- - - - - - - spring 事务属性 - - - - - - - -->
	<tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<!--******    织入，请修改成实际的业务层包名  *********-->
	<aop:config>
		<aop:advisor advice-ref="transactionAdvice" pointcut="execution(* com.service.*.*(..))" />
	</aop:config>
	
	
	<!-- - - - - - - 注入一个DAO接口的 .MapperFactoryBean- - - - - - - -->
<!--	<bean id="jddao" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
<!--		<property name="sqlSessionFactory" ref="sqlSessionFactory" />-->
<!--		<property name="mapperInterface" value="com.dao.TblJdMapper" />-->
<!--	</bean>-->
	
	
	<!-- - - - - - - 自动注入n个DAO接口的 .MapperFactoryBean- - - - - - - -->
	<bean id="jjww" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	  <property name="basePackage" value="com.dao"></property>
	</bean>
	
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate"> 
		<constructor-arg index="0" ref="sqlSessionFactory" /> 
		<constructor-arg index="1" value="SIMPLE" /> 
	</bean> 

</beans>
